body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, rgb(113, 113, 238), rgb(214, 124, 241) );
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 2rem;
}

.sort-div{
    display: flex;
    justify-content: center;
    padding: 30px;
    button{
        border: none;
        border-radius: 5px;
        outline: none;
        margin: 5px;
        background:white;
        color:  rgb(113, 113, 238);
    }
    button:focus{
        outline: none;
    }
}

button:hover{
    opacity: 0.5;

}


.todo-input{
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;

}

.add-todo:focus{
    outline: none;
}

.add-todo{
    border: none;
    outline: none;
    background: none;
    margin-left: 25px;


    i{
        color: white;
        font-size: 3rem;
    }

}

.todo-container{
    display: flex;
    justify-content: center;
}

.todo-list{
    list-style-type: none;
    margin-top: 10vh;
    width: 40vw;


}



// JS
.todo-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease;

    li,.edit-input{
        flex: 9;
        background-color: white;
        padding: 1px;
        border-radius: 5px;
        outline: none;
        border: none;

    }

    .todo-check , .todo-edit, .todo-delete {
        border: none;
        background: none;
        outline: none;
        flex: 1;
        padding: 2px 0px;
        i{
            color: white;
            font-size: 1.5rem;

        }
    }

    

}


// prevent fro clicking on the icons
.fa-trash-alt,.fa-edit,.fa-check-circle{
    pointer-events: none;
}

.checked{
    text-decoration: line-through;
    opacity: 0.5;

}



.muted{
    display: none;

}